# Google Cloud project and bucket
GCP_PROJECT_ID=sort-it-prod
GCS_MODEL_BUCKET=sort-it-models

# Paths inside the bucket to each TFLite model object.
MODEL_STAGE1_PATH=models/stage1_mobilenetv3f.tflite
MODEL_STAGE2_PATH=models/stage2_mobilenetv3f.tflite

MODEL_STAGE3_PLASTIC_PATH=models/stage3_plastic_mobilenetv3f.tflite
MODEL_STAGE3_GLASS_PATH=models/stage3_glass_mobilenetv3f.tflite
MODEL_STAGE3_METAL_PATH=models/stage3_metal_mobilenetv3f.tflite
MODEL_STAGE3_PAPER_PATH=models/stage3_paper_mobilenetv3f.tflite
MODEL_STAGE3_RESIDUAL_PATH=models/stage3_residual_mobilenetv3f.tflite