# Firebase admin key path (relative to backend folder or absolute path)
FIREBASE_KEY_PATH=sort-it_firebase_key.json

# Model download timeout in seconds
MODEL_DOWNLOAD_TIMEOUT_SECONDS=120

# cloud URLs used only when local model files are missing (basically for all users except dev)
MODEL_URL_STAGE1=https://huggingface.co/jannamorcozo/sort-it-models/resolve/main/stage1_mobilenetv3f.keras
MODEL_URL_STAGE2=https://huggingface.co/jannamorcozo/sort-it-models/resolve/main/stage2_mobilenetv3f.keras
MODEL_URL_STAGE3_PLASTIC=https://huggingface.co/jannamorcozo/sort-it-models/resolve/main/stage3_plastic_mobilenetv3f.keras
MODEL_URL_STAGE3_PAPER=https://huggingface.co/jannamorcozo/sort-it-models/resolve/main/stage3_paper_mobilenetv3f.keras
MODEL_URL_STAGE3_METAL=https://huggingface.co/jannamorcozo/sort-it-models/resolve/main/stage3_metal_mobilenetv3f.keras
MODEL_URL_STAGE3_GLASS=https://huggingface.co/jannamorcozo/sort-it-models/resolve/main/stage3_glass_mobilenetv3f.keras
MODEL_URL_STAGE3_RESIDUAL=https://huggingface.co/jannamorcozo/sort-it-models/resolve/main/stage3_residual_mobilenetv3f.keras
